<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_url if logged_in?(:site_admin) %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>

    <%# data-turbo-action: Specifies the action to perform when navigating. For example, replace, advance, frame, etc.

    data-turbo-frame: Specifies the target Turbo frame for the navigation.

    data-turbo-method: Specifies the HTTP method to use for the action, such as get, post, put, delete, etc.

    data-confirm: Specifies a confirmation message to show to the user before performing the action. If the user confirms, the action proceeds; otherwise, it's canceled.

    data-disable-with: Changes the content of the element while the action is being processed. This is commonly used with form submissions.

    data-action: Specifies the action to be taken when an event is triggered on the element. This is commonly used with Stimulus controllers.

    data-controller: Specifies which Stimulus controller(s) should be applied to the element.

    data-target: Specifies which Stimulus target(s) should be used within the element. %>