<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4 pt-1">
    <%= image_tag "poza_cv.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8 pl-4 pt-0">
    <p class="text-left">I am a highly motivated self taught Developer seeking to increase my skills and build a career as a Programmer. I have created many projects and I would love to have the opportunity to talk about how I can be an asset to your team and company based on my diverse background as an Engineer and my knowledge in programming. <br><em>Skills: Ruby, Ruby on Rails, Python, Heroku, Git, OOP, Tkinter, HTML, CSS, API, Selenium.</em></p>

    <p class="text-left">For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.</p>
  </div>
</div>
