<h1>About me</h1>
<p>I am a highly motivated self taught Developer seeking to increase my skills and build a career as a Programmer. I have created many projects and I would love to have the opportunity to talk about how I can be an asset to your team and company based on my diverse background as an Engineer and my knowledge in programming. <br><em>Skills: Ruby, Ruby on Rails, Python, Heroku, Git, OOP, Tkinter, HTML, CSS, API, Selenium.</em></p>
